
<div class="banner">
  <div class="container">
    <h1>CREATE <strong>YOUR</strong> PERSONAL <strong>WATCH LIST</strong>!</h1>
    <br>
    <p> Save your favourite movies & watch it whenever you want!</p>
    <br>
    <a class="btn btn-flat" href="/lists/new">Create a movie list</a>
  </div>
</div>

<div class = "container">
<h1> MY LIST </h1>
<ul>

<% @lists.each do |list| %>
  <li> <%= link_to list.name, list_path(list) %> </li>
  <%= link_to "DELETE list", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
</ul>
</div>
