<div class = "container">
<h1> MY LIST </h1>
<ul>
<%= link_to "Create a movie list", new_list_path  %>
<% @lists.each do |list| %>
  <li> <%= link_to list.name, list_path(list) %> </li>
<% end %>
</ul>
</div>
