
<div class="banner">
  <div class="container">
    <h1>CREATE <strong>YOUR</strong> PERSONAL <strong>WATCH LIST</strong>!</h1>
    <br>
    <p> Save your favourite movies & watch it whenever you want!</p>
    <br>
    <a class="btn btn-flat" href="/lists/new">Create a movie list</a>
  </div>
</div>

<div class = "container">
  <div class = "m-5">
    <h1> MY WATCH LIST  </h1>
  </div>
  <div class="row justify-content-between">
    <% @lists.each do |list| %>
    <div class="col-12 col-lg-4">
        <div class="card bg-dark text-white">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-img-overlay">
            <div class="d-flex justify-content-center">
              <%= link_to list.name, list_path(list)%>
            </div>
              <button class="btn btn-danger"><%= link_to "DELETE list", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>
<!--</div> -->
<!-- comment out-->
