<!-- navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/lists">My watch list</a>
        <a class="nav-link active" aria-current="page" href="/lists/new">new list</a>
      </div>
    </div>
  </div>
</nav>
